﻿<template>
    <div>
        <h1>Register User</h1>

        <validation-observer ref="observer" v-slot="{validate, valid}">
            <form method="post" @submit.prevent="registerUser">
                <div class="form-group">
                    <label for="username">Username</label>
                    <validation-provider name="username" rules="required|min:3|max:20" v-slot="{errors}">
                        <input type="text" class="form-control" id="username" v-model="newUser.username">
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                </div>
                <label class="col-form-label">Password</label>
                <validation-provider name="Password" rules="required|min:8|max:255|confirmed:Confirm" v-slot="{errors}">
                    <input class="form-control" type="password" v-model="newUser.passwordUser" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Confirm Password</label>
                <validation-provider name="Confirm" rules="required|min:8|max:255" v-slot="{errors}">
                    <input class="form-control" type="password" v-model="newUser.confirmPasswordUser" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </validation-observer>

        <span class="text-danger font-italic" v-model="successMessage"></span>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import { AlatTulisService, RegisterFormModel } from '../services/NSwagStudio';
    import { ValidationObserver } from 'vee-validate';

@Component({
})
export default class Register extends Vue {
    service: AlatTulisService = new AlatTulisService();

    newUser: RegisterFormModel = {
        username: '',
        passwordUser: '',
        confirmPasswordUser: ''
    };

    successMessage = '';

    async registerUser(): Promise<void> {

        const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
        if (valid == false) {
            return;
        }

        const checkExistUsername = await this.service.checkExistUsername(this.newUser.username);
        if (checkExistUsername == false) {
            this.successMessage = "Username already exist";
            return;
        }

        const regUser = await this.service.register(this.newUser);
        if (regUser == false) {
            this.successMessage = "Register User Failed";
            return;
        }
        else {
            this.successMessage = "Registration Successful";
        }
        window.location.href = '/';
    }
}
</script>