﻿@page "{ProtectedData}"
@model PosKasir.Pages.Cart.DeleteModel
@{
}

<h1>Delete Data Confirmation</h1>
<form method="post">
    <div>
        <h3>Apakah anda yakin untuk menghapus @Model.Form.AlatTulisName ?</h3>
    </div>
    <br />

    <input asp-for="Form.AlatTulisId" readonly hidden />
    <input asp-for="Form.UserId" readonly hidden />
    <input asp-for="Form.AlatTulisName" readonly hidden />
    <input asp-for="Form.Stock" readonly hidden />

    <button type="submit" class="btn btn-danger">Delete</button>
</form>
