﻿@page
@model PosKasir.Pages.Cart.IndexModel
@{
}

<h1>Cart List</h1>
<a href="~/Cart/Insert" class="btn btn-primary">Insert</a>
<br />
<table class="table table-bordered" border="1">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Materi ID</th>
            <th>Materi Name</th>
            <th>Quantity</th>
            <th>Purchase Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Carts)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.AlatTulisId</td>
                <td>@item.AlatTulisName</td>
                <td>@item.Stock</td>
                <td>@item.PurchaseDate</td>
                <td>
                    <form asp-page-handler="edit" method="post">
                        <button class="btn btn-warning">Edit</button>
                        <input type="hidden" name="UnProtected" value="@item.AlatTulisId" />
                    </form>
                    <form asp-page-handler="delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                        <input type="hidden" name="UnProtected" value="@item.AlatTulisId" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <form method="post">
        <button class="btn btn-primary" type="submit">Order</button>
    </form>
</div>
