﻿@page
@model PosKasir.Pages.Cart.InsertModel
@{
}

<h3>Insert Cart</h3>
<form method="POST">
    <div class=" form-group">
        Product Name: <select class="form-control" asp-for="Form.AlatTulisId">
            @foreach (var item in Model.List)
            {
                @*<option value="@item.ProductId">@item.ProductName</option>*@
                <option value="@item.AlatTulisId">@item.AlatTulisName, Stock: @item.Stock</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Form.Stock"></label>
        <input class="form-control" asp-for="Form.Stock" />
        <span asp-validation-for="Form.Stock"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Add to Cart</button>
</form>
<div>
    <p>@Model.SuccessMessage</p>
</div>
