﻿@page "{ProtectedData}"
@model PosKasir.Pages.Cart.UpdateModel
@{
}

    <form method="post">
        <div class="form-group">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Form.UserId"></label>
                <div class="form-row">
                    <input readonly hidden class="form-control-plaintext" asp-for="Form.UserId" />
                    <span asp-validation-for="Form.UserId"></span>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Form.AlatTulisId"></label>
                <div class="form-row">
                    <input readonly class="form-control-plaintext" asp-for="Form.AlatTulisId" />
                    <span asp-validation-for="Form.AlatTulisId"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Form.AlatTulisName"></label>
                <div class="form-row">
                    <input readonly class="form-control-plaintext" asp-for="Form.AlatTulisName" />
                    <span asp-validation-for="Form.AlatTulisName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Form.Stock"></label>
                <div class="form-row">
                    <input class="form-control" asp-for="Form.Stock" />
                    <span asp-validation-for="Form.Stock" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Update Cart</button>
        </div>
    </form>